.header {
  height: 81px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  backdrop-filter: blur(10px);
  padding-inline-end: 1rem;
  padding-inline-start: 1rem;
  max-width: 1158px;
  margin: auto;
}
